/*public*/
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,
textarea, p, blockquote, th, td { margin: 0; padding: 0;}
body{ font-family:宋体,Arial,Helvetica,sans-serif; font-size:12px; color:#404040;}
a{ text-decoration:none; color:#1a66b3; }
a:hover{text-decoration:underline}
img{border:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6{ font-size:12px;font-weight:normal;}
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit;
 font-weight: inherit;}
.dot{ letter-spacing:-3px;}
.clear{ clear:both;line-height:0px;height:0px;font-size:0px; overflow:hidden;}
.liclear{ height:0; line-height:0; font-size:0; float:none; clear:both; *display:inline}
.clearfix:after { display:block; clear:both; visibility:hidden; content:"."; font-size:0; height:0;}
.clearfix { display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix { display: block;}
/* End hide from IE-mac */
.ddunite_wrap { width:960px; margin:0 auto; background-color:#fff;}
.checkbox, .ridio { margin:0; *margin:-4px -3px;}
.text, .textarea { font-size:12px; padding:4px 0 3px 3px; height:15px; background-color:#fff; border:1px solid #ccc; line-height:15px;}


/*翻页*/
.fanye{ height:24px; margin-top:20px; text-align:right;}
.fanye a{ color:#1a66b3; background:url(../img/fanye_r.gif) no-repeat right 0; display:block; float:right; height:24px; padding-right:6px; margin-left:6px; font:14px/24px Arial; text-decoration:none;}
.fanye a.fanye_page{ font:bold 12px/24px "宋体";}
.fanye a span{ background:url(../img/fanye_l.gif) no-repeat 0 0; height:24px; display:inline-block; padding-left:7px; cursor:pointer;}
.fanye a.nonce,.fanye a:hover{ color:#fff; background:url(../img/fanye_r.gif) no-repeat right bottom; text-decoration:none;}
.fanye a.nonce span,.fanye a:hover span{ background:url(../img/fanye_l.gif) no-repeat left bottom; cursor:default;}
.fanye a:hover span{ cursor:pointer;}
.fanye span.dot{ float:right; display:block; color:#a1a1a1; font:bold 13px Arial; letter-spacing:0; padding:0 5px 0 11px;}
.fanye a.fanye_none,.fanye a:hover.fanye_none{ color:#878787; cursor:default; background:url(../img/fanye_r.gif) no-repeat right top}
.fanye a.fanye_none span,.fanye a:hover.fanye_none span{ background:url(../img/fanye_l.gif) no-repeat left top; cursor:default;}


/*login*/
.ddunite_login { width:960px; padding:23px 0 14px;}
.ddunite_login h1 { float:left; width:193px; font-size:0; line-height:0; text-indent:-9999px;}
.ddunite_login h1 a { display:block; width:173px; height:48px; margin-left:20px; background:url(../img/logo.png) no-repeat left top;}
.ddunite_login p { float:right; height:22px; margin:34px 0 -8px; *zoom:1;}
.ddunite_login p span { display:inline-block;}
.ddunite_login p a { display:inline-block; margin-right:15px; padding-top:5px;}
.ddunite_login p .username { padding-left:23px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -80px; font-family:Arial;}
.ddunite_login p .nousername { padding-left:23px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -120px; font-family:Arial;}
.ddunite_login p .mail { padding-left:27px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -154px; color:#404040; font-weight:bold; font-family:Arial;}
.ddunite_login p .nomail { padding-left:27px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -194px; color:#404040; font-family:Arial;}

/*nav*/
.ddunite_nav { overflow:hidden; width:960px; height:40px;}
.ddunite_nav ul { width:960px; background:#007338;}
.ddunite_nav li { float:left; width:103px; margin-left:-1px; padding:12px 0 10px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -27px; text-align:center;}
.ddunite_nav li a,.ddunite_nav li a:hover { color:#fff; font:bold 14px/18px "宋体";}
.ddunite_nav ul .current { background:#00aa55; position:relative; z-index:10; }
.ddunite_nav .index { width:90px; background:#007338;}
.ddunite_nav li.school{width:130px;}

.ddunite_subnav { width:960px; background:#00aa55;}
.ddunite_subnav li { _display:inline; float:left; height:14px; margin-right:18px; padding:11px 0 10px; }
.ddunite_subnav li a { color:#fff;}
.ddunite_subnav .subcurrent, .ddunite_subnav .subcurrent a:hover { font-weight:bold; text-decoration:none;}
.sub1 ul { padding-left:112px;}
.sub4 ul { width:538; margin-left:423px;}

/*message*/
.ddunite_mess { width:920px; margin:15px auto 0;}
.ddunite_mess .area1, .ddunite_mess .area2 { float:left; padding-top:18px; border:3px solid #007338;}
.ddunite_mess h6 { margin-bottom:9px; font-size:14px; font-weight:bold; text-align:center;}
.ddunite_mess .area1 { width:653px; margin-right:15px; padding-bottom:25px;}
.ddunite_mess .area1 .content { width:600px; height:118px; margin:0 auto; line-height:16px;}
.ddunite_mess .area1 .content a { color:#404040;}
.ddunite_mess .area1 .space { margin-bottom:10px;}
.ddunite_mess .area1 .indent { height:72px; text-indent:24px;}
.ddunite_mess .area1 .btn { width:510px; margin:0 auto; text-align:right;}
.ddunite_mess .area1 .btn a, .ddunite_mess .area1 .btn a:hover { display:inline-block; width:71px; height:25px; margin-left:15px; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -400px; border:none; color:#404040; line-height:25px; text-align:center; text-decoration:none; cursor:pointer;}
.ddunite_mess .area1 .btn .nopage { color:#999; cursor:default;}
.ddunite_mess .area1 .btn .nopage:hover { color:#999; cursor:default;}
.ddunite_mess .area2 { position:relative; width:240px;}
.ddunite_mess .area2 p { margin-top:10px; padding-left:29px; line-height:18px;}
.ddunite_mess .area2 ul { width:185px; margin:13px auto 0;}
.ddunite_mess .area2 li { width:185px; height:22px; border-bottom:1px solid #dcdcdc; line-height:22px;}
.ddunite_mess .area2 li em { color:#c30; font:bold 18px/22px Arial;}
.ddunite_mess .area2 .btn { margin:19px 0 24px; text-align:center;}
.ddunite_mess .area2 .btn span { display:inline-block; background:url(../img/ddunite_bg_icon.gif) no-repeat right -360px;}
.ddunite_mess .area2 .btn a, .ddunite_mess .area2 .btn a:hover { display:inline-block; height:23px; padding:2px 7px 0; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -320px; color:#fff; line-height:23px; text-decoration:none;}
.ddunite_mess .area2 i { display:inline-block; width:12px; height:12px; margin:6px 0 0 4px; background:url(../img/ddunite_bg_icon.gif) no-repeat -160px -240px; text-indent:-9999px; font-size:0; vertical-align:top;}

.ddunite_mess .floyaler { display:none; position:absolute; left:48px; top:97px; width:121px; padding:5px 9px; border:2px solid #ffef9c; background-color:#fff6c3;}


/*new action*/
.dduntie_active { width:920px; margin:8px auto 0;}
.dduntie_active h2, .ddunite_hot h2 { padding:10px 0 9px 15px; background-color:#e9e9e9; font:bold 14px/16px "宋体";}
.dduntie_active ul { width:864px; margin:25px auto 0;}
.dduntie_active li { display:inline; float:left; margin:0 6px;}
.dduntie_active li a { display:block; overflow:hidden; width:200px; height:69px; text-align:center; border:2px solid #afafaf;}
.dduntie_active li a:hover { border:2px solid #009C74;}
.dduntie_active .btn { position:relative;}
.dduntie_active .btn a { display:block; width:17px; height:28px; position:absolute; top:-58px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -240px; font-size:0; line-height:0; text-indent:-9999px;}
.dduntie_active .btn .btnl { left:0; background-position:0 -240px;}
.dduntie_active .btn .btnr { right:0; background-position:-40px -240px;}
.dduntie_active .btn .btnnol { left:0; background-position:0 -280px;}
.dduntie_active .btn .btnnor {right:0; background-position:-40px -280px;}


/*hot recomment index*/
.ddunite_hot { width:920px; margin:30px auto 0;}
.ddunite_hot ul { width:920px;}
.ddunite_hot li { float:left; width:152px; margin-top:35px; padding:0 39px;}
.ddunite_hot .pic { overflow:hidden; width:150px; height:150px; border:1px solid #b6b6b4; text-align:center;}
.ddunite_hot .name { overflow:hidden; width:152px; height:36px; margin-top:6px; line-height:18px; world-break:break-all;}
.ddunite_hot .price_m { margin-top:8px; line-height:18px; text-align:center; font-family:Arial;}
.ddunite_hot .price_m del { color:#9c9c9c;}
.ddunite_hot .price_dd { color:#c30; font-weight:bold; line-height:18px; text-align:center; font-family:Arial;}
.ddunite_hot .btn { margin-top:10px; text-align:center;}
.ddunite_hot .btn a, .ddunite_hot .btn a:hover { display:block; width:78px; height:21px; margin:0 auto; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:21px; text-align:center; text-decoration:none;}


/*联盟推广*/
.ddunite_process { width:960px; margin-top:16px; text-align:center;}
.ddunite_process span { display:inline-block; width:217px; height:17px;padding-top:1px;margin-left:1px; background:url(../img/ddunite_bg_icon25.png) no-repeat 0 0; color:#666; line-height:17px;}
.ddunite_process .pcs1 { background-position:0 -18px;}
.ddunite_process .pcs2 { background-position:-217px -18px;margin-left:1px;}
.ddunite_process .pcs3 { background-position:-434px -18px;margin-left:1px;}
.ddunite_process .pcs1_crt { background-position:0 0; font-weight:bold; color:#000;}
.ddunite_process .pcs2_crt { background-position:-217px 0; font-weight:bold; color:#000;}
.ddunite_process .pcs3_crt { background-position:-434px 0; font-weight:bold; color:#000;}


/*search*/
.ddunite_search { width:960px; margin-top:18px; text-align:center;clear:both;}
.ddunite_search p { margin-bottom:15px; padding-left:20px; font-size:14px; font-weight:bold; text-align:left;}
.ddunite_search select { width:80px; height:20px; margin-top:6px; font-size:14px;}
.ddunite_search span { display:inline-block; margin:0 0 0 15px; *margin-top:1px; padding:9px 0 9px 14px; *padding:10px 0 8px 14px; background:url(../img/ddunite_bg_search.gif) no-repeat left top; line-height:14px; vertical-align:top;}
.ddunite_search .search { width:240px; height:14px; border:none; background-color:#fff;}
.ddunite_search .btnsubmit{ display:inline-block; width:84px; height:32px; *margin-top:1px; border:none; background:url(../img/ddunite_bg_search.gif) no-repeat left -40px; color:#fff; font-size:14px; font-weight:bold; text-align:center; vertical-align:top; text-decoration:none; text-shadow:1px 1px 0 #1276b0;}


/*recomment*/
.ddunite_recomment { width:930px; margin:15px 15px 0;}
.ddunite_recomment h2 { padding:10px 0 9px 15px; background-color:#e9e9e9; font:bold 14px/16px "宋体";}
.ddunite_recomment h2 em { color:#c30; font-style:normal;}
.ddunite_recomment p { margin:5px 0 0 15px; padding-left:12px; background:url(../img/ddunite_bg_search.gif) no-repeat -300px -73px; color:#666; line-height:24px;}
.ddunite_recomment .ddunite_hot { margin:0 auto; overflow:hidden;}
.ddunite_recomment .ddunite_hot ul { margin-top:-30px;}
.ddunite_recomment .ddunite_hot .btn_buy a, .ddunite_recomment .ddunite_hot .btn_buy a:hover { display:block; width:69px; height:19px; margin:3px auto 0; padding:2px 0 0 32px; background:url(../img/ddunite_bg_search.gif) no-repeat 0 -120px; color:#fff; line-height:19px; text-decoration:none;}
.ddunite_recomment .ddunite_hot .code textarea { display:block; width:132px; height:48px; margin:25px auto 0; font-size:12px;}


/*getcode*/
.ddunite_getcode { width:930px; margin:18px 15px 0;}
.ddunite_getcode h2 { padding:10px 0 9px 15px; background-color:#e9e9e9; color:#666; font: normal 12px/16px "宋体";}
.ddunite_getcode h2 strong { margin-right:8px; color:#404040; font-size:14px;}
.ddunite_getcode h2 .space { margin-right:23px;}
.ddunite_getcode .ddunite_from { float:left; width:354px; padding-left:34px;}

.ddunite_from p { margin:22px 0 8px; font-size:14px;}
.ddunite_from li { width:354px; margin-top:8px;}
.ddunite_from li .text { width:347px;}
.ddunite_from li .textarea { width:348px; height:100px;}
.ddunite_from li label { display:inline-block; height:15px; margin-left:5px; vertical-align:top; line-height:15px;}
.ddunite_from .textr { text-align:right; height:14px; margin-bottom:-4px; text-align:right;}
.ddunite_from .btn a, .ddunite_from .btn a:hover { display:block; width:77px; height:21px; margin:0 auto; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:21px; text-align:center; text-decoration:none;}
.ddunite_from h4 { margin-top:20px; font-size:14px; font-weight:bold; text-align:center;}

.ddunite_from .form2 { margin-top:44px;}
.ddunite_from .form2 span { display:inline-block; width:60px; height:17px; padding-top:2px; line-height:17px;}
.ddunite_from .form2 select { width:100px; height:19px; font-size:12px;}
.ddunite_from .form2 .text { width:55px; height:15px; padding:1px 0 0 3px; line-height:15px;}
.ddunite_from .form2 .space { margin-top:17px;}
.ddunite_from .form2 .control { display:inline-block; width:21px; margin-left:17px; vertical-align:top;}
.ddunite_from .form2 .checkbox { margin-left:60px; *margin-left:56px;}
.ddunite_from .form2 .checkbox { margin-left:0; *margin-left:-4px;}

.ddunite_getcode .ddunite_preview { float:right; width:366px; margin-bottom:36px;}
.ddunite_getcode .ddunite_preview2 { float:right; width:472px; margin-bottom:36px;}
.ddunite_preview h3 { width:277px; margin:22px 0 8px; font-weight:bold; font-size:14px; text-align:center;}
.ddunite_preview2 h3 { width:382px; margin:22px 0 8px; font-weight:bold; font-size:14px; text-align:center;}
.ddunite_preview .preview { width:275px; height:238px; border:1px solid #3c9;}
.ddunite_preview2 .preview { width:382px; height:328px; border:1px solid #3c9;}

.ddunite_preview .link { height:128px; padding-top:110px; font-size:14px; text-align:center;}

.publicize_120a { width:314px; height:168px; margin:79px auto 0; border:1px solid #b5b7b4;}
.publicize_120v { width:173px; height:270px; margin:28px auto 0; border:1px solid #b5b7b4;}
.publicize_150a { width:361px; height:199px; margin:63px auto 0; border:1px solid #b5b7b4;}
.publicize_150v { width:206px; height:306px; margin:10px auto 0; border:1px solid #b5b7b4;}

.ddunite_getcode .more_topic { text-align:right;}
.ddunite_getcode .more_topic span { display:inline-block; background:url(../img/ddunite_bg_icon.gif) no-repeat right -360px;}
.ddunite_getcode .more_topic a, .ddunite_getcode .more_topic a:hover { display:inline-block; height:23px; padding:2px 7px 0; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -320px; color:#fff; line-height:23px; text-decoration:none;}
.ddunite_getcode .notice { margin:5px 0 0 15px; padding-left:12px; background:url(../img/ddunite_bg_search.gif) no-repeat -300px -73px; color:#666; line-height:24px;}
.ddunite_getcode .notice2 { font-size:14px; line-height:24px;}
.ddunite_getcode .notice2 span { color:#666; font-size:12px;}
.ddunite_getcode .aptitude { margin-top:21px;}
.ddunite_getcode .aptitude_preview { width:382px; border:1px solid #3c9; text-align:center;}
.display120, .display100 { width:128px; margin:0 auto; padding:15px 0 10px; text-align:center;}
.display120 li, .display100 li { width:128px;}
.display120 .pic, .display100 .pic { display:block; overflow:hidden; width:120px; height:120px; text-align:center;}
.display120 .name, .display100 .name { overflow:hidden; width:128px; height:36px; margin-top:10px; line-height:18px; word-break:break-all;}
.display120 .name a, .display100 .name a { color:#666;}
.display120 .name a:hover, .display100 .name a:hover { color:#f60;}
.display120 .pic img, .display100 .pic img { border:none;}
.display120 .price_m, .display100 .price_m { color:#666; font:normal 12px/18px arial;}
.display120 .price_m del, .display100 .price_m del { color:#9c9c9c;}
.display120 .price_d,.display100 .price_d { font:bold 12px/18px arial; color:#c30;}
.display100, .display100 li, .display100 .name { width:100px;}
.display100 .pic { width:100px; height:100px;}
.ddunite_getcode .aptitude p { margin-top:14px; color:#666; line-height:18px;}
.ddunite_getcode .size { margin-top:7px; color:#666;}





/*联盟搜索框 推广搜索*/
.ddunite_promsearch { width:814px; margin:25px auto 0; padding:10px 0 18px; border:1px solid #00b38a;}
.ddunite_promsearch h3 { width:408px; margin:28px auto 0; text-align:center; font-size:14px; font-weight:bold;}

.ddunite_promsearch .ddunite_search { width:408px; margin:18px auto 0;}
.ddunite_promsearch .ddunite_search .search { width:233px;}
.ddunite_promsearch .ddunite_search .publicize { width:62px; height:28px; background:none; padding:0;}

.ddunite_promsearch .result { width:408px; margin:0 auto;}
.ddunite_promsearch .result li { float:left; margin-top:18px;}
.ddunite_promsearch .result li label { float:left; height:17px; margin-right:15px; padding-top:2px; line-height:17px;}
.ddunite_promsearch .result li .text { width:87px; height:14px; padding:1px 0 0 3px; line-height:14px;}
.ddunite_promsearch .result .btn { width:408px;}
.ddunite_promsearch .result .btn a, .ddunite_promsearch .result .btn a:hover { display:block; width:77px; height:21px; margin:0 auto; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:21px; text-align:center; text-decoration:none;}
.ddunite_promsearch .result .select { width:94px; _margin-left:-3px; font-size:12px;}
.ddunite_promsearch .result .textarea { width:403px; height:86px; line-height:18px;}
.ddunite_promsearch .messl { width:251px;}
.ddunite_promsearch .messl span { margin-left:12px; color:#878787;}
.ddunite_promsearch .messr { width:157px;}


/*联盟推广主题自定义*/
.ddunite_custom { width:930px; margin:0 auto;}
.ddunite_custom h2 { margin-top:18px; padding:10px 0 9px 15px; background-color:#e9e9e9; font:bold 14px/16px "宋体";}
.ddunite_custom h2 span { margin-left:15px; color:#666; font-size:12px; font-weight:normal;}
.ddunite_custom ul { width:760px; margin:20px auto 0; padding:5px 30px 15px; border:1px solid #3c9;}
.ddunite_custom li { *display:inline; float:left; width:190px;}
.ddunite_custom li label, .ddunite_custom .text, .ddunite_custom .exmple { display:block;}
.ddunite_custom li label, .ddunite_custom li span { height:31px; padding-top:2px; font-size:14px; line-height:31px;}
.ddunite_custom li .text { width:127px; height:15px; padding:1px 0 0 3px; line-height:15px;}
.ddunite_custom li .select { display:block; width:130px; font-size:12px;}
.ddunite_custom li .exmple { color:#c30; font-size:12px;}
.ddunite_custom .btn a { display:block; width:77px; height:21px; margin-top:32px; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:21px; text-align:center; text-decoration:none;}
.ddunite_custom .adv { width:820px; margin:18px auto 0;}
.ddunite_custom .adv textarea { width:814px; height:124px; padding:3px;background-color:#fff; color:#666; line-height:18px;}
.ddunite_custom .adv2 { width:782px; margin:18px auto 0; padding-left:30px; border:1px solid #3c9; }
.ddunite_custom .adv2 p { padding:5px 0; line-height:20px;}



/*getcode*/
.ddunite_custom .custom_getcode { width:817px; margin:18px auto 0; border:1px solid #3c9;}
.custom_getcode ul { _display:inline; float:left; width:480px; margin:36px 0 34px 15px; padding:0; border:none;}
.custom_getcode li { width:160px;}
.custom_getcode .blank label { display:inline-block; font-size:12px; vertical-align:top;}
.custom_getcode .blank .checkbox { display:inline-block; margin:10px 4px 0 0; *margin:6px 1px 0 -4px; }
.custom_getcode .note { width:480px; margin:5px 0 0 -15px;}
.custom_getcode .note p { height:31px; padding-top:2px; font-size:14px; line-height:31px; text-align:center;}
.custom_getcode .coderesult { width:480px; margin-left:-15px; text-align:center;}
.custom_getcode .coderesult .textarea { width:345px; height:103px; line-height:18px;}
.custom_getcode .btn { width:480px;}
.custom_getcode .btn a { margin:13px auto 0;}

.custom_getcode .ddunite_preview { _display:inline; float:right; width:322px;}
.custom_getcode .ddunite_preview h3 { width:250px;}
.custom_getcode .ddunite_preview .preview { width:250px;}

.ddunite_custom .more_topic { width:819px; margin:16px auto 0; text-align:right;}
.ddunite_custom .more_topic span { display:inline-block; background:url(../img/ddunite_bg_icon.gif) no-repeat right -360px;}
.ddunite_custom .more_topic a, .ddunite_custom .more_topic a:hover { display:inline-block; height:23px; padding:2px 7px 0; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -320px; color:#fff; line-height:23px; text-decoration:none;}


/*联盟推广主题*/
.ddunite_topic .publicize_736xx { width:744px; margin:30px auto 0; padding:20px 0; border:1px solid #009c74; text-align:center;}
.ddunite_topic .area1 { float:none; width:336px; margin:0 auto; padding:0 0 27px 0;}
.ddunite_topic .area1 p { margin-top:24px; font-size:14px; line-height:18px;}
.ddunite_topic .area1 p span { color:#666; font-size:12px;}
.ddunite_topic .area1 li { width:336px;}
.ddunite_topic .area1 li .textarea { width:329px;}

.ddunite_topic .area2 { padding-left:96px;}
.ddunite_topic .more_topic { width:930px; margin:16px auto 0; text-align:right;}
.ddunite_topic .more_topic span { display:inline-block; background:url(../img/ddunite_bg_icon.gif) no-repeat right -360px;}
.ddunite_topic .more_topic a, .ddunite_custom .more_topic a:hover { display:inline-block; height:23px; padding:2px 7px 0; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -320px; color:#fff; line-height:23px; text-decoration:none;}


/*select topic*/
.ddunite_selectopic { width:930px; margin:18px auto 0;}
.ddunite_selectopic_list { width:910px; padding:10px; background:#e9e9e9;}
.ddunite_selectopic p.explain { width:910px; padding:14px 0 25px; font:bold 14px/18px "宋体"}
.ddunite_selectopic dl { width:910px; padding-bottom:15px;}
.ddunite_selectopic dt { float:left; clear:both; width:84px; font:bold 14px/24px "宋体"}
.ddunite_selectopic dd { float:right; width:826px; font:normal 12px/24px "宋体"}
.ddunite_selectopic dd p { float:left; width:144px; font-size:14px;}
.ddunite_selectopic dd ul { float:left; width:682px;}
.ddunite_selectopic dd li { float:left; width:136px;}
.ddunite_selectopic dd .select { width:120px;} 
.ddunite_selectopic .tips { width:930px; margin-top:18px; color:#666; text-align:right;}

.ddunite_selectopic .publicize2 { width:817px; margin:30px auto 0; padding:8px 0 18px; border:1px solid #00b38a;}
.ddunite_selectopic .publicize2 ul { width:817px;}
.ddunite_selectopic .publicize2 li { width:817px; margin-top:10px;}
.ddunite_selectopic .publicize2 li p { color:#666; font-size:14px; text-align:center;}
.ddunite_selectopic .publicize2 .preview { text-align:center;}
.ddunite_selectopic .publicize2 .btn a, .ddunite_selectopic .publicize_728x90 .btn a:hover{ display:block; width:71px; height:25px; margin:0 auto; padding-top:1px; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -400px; border:none; color:#404040; line-height:25px; text-align:center; text-decoration:none; cursor:pointer;}




/*联盟注册*/
.ddunite_login_register { border-bottom:3px solid #e17c14;}


.ddunite_register { width:960px;}
.ddunite_register h2 { margin-top:40px; color:#666; font-size:14px; font:bold 14px/27px "宋体";}
.ddunite_register ul { margin-top:10px;}
.ddunite_register li {_display:inline; float:left; margin-top:3px; padding:7px 1px;}
.ddunite_register .text { _display:inline; float:left; width:187px; height:15px; margin:4px 18px 0 0; padding:3px 0 0 3px; font-size:12px; line-height:15px;}
.ddunite_register label { _display:inline; float:left; height:27px; margin-right:18px; padding-top:1px; color:#666; font:normal 14px/27px "宋体"; text-align:right;}
.ddunite_register label.line2 { height:auto; margin-top:-2px; line-height:16px;}
.ddunite_register li span { _display:inline; float:left; height:27px; color:#9c9c9c; line-height:27px;}
.ddunite_register li span.line2 { line-height:14px;}
.ddunite_register .input_right { float:left; width:16px; height:16px; margin-top:5px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 0; font-size:0; text-indent:-9999px;}
.ddunite_register .input_wrong { float:left; width:16px; height:16px; margin:5px 4px 0 0; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -40px; font-size:0; text-indent:-9999px;}
.ddunite_register .code { display:inline-block; margin:0 20px 0 0; vertical-align:middle;}

.ddunite_register .btn_ora, .ddunite_register .btn_ora:hover { display:block; width:144px; height:33px; padding-top:2px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -120px; color:#fff; font-size:14px; line-height:33px; text-align:center; text-decoration:none;}
.ddunite_register .btn_ora2, .ddunite_register .btn_ora2:hover { display:block; width:71px; height:23px; padding-top:2px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -200px; color:#fff; font-size:12px; line-height:23px; text-align:center; text-decoration:none;}
.ddunite_register .btn_gray, .ddunite_register .btn_gray:hover { display:block; width:85px; height:25px; padding-top:1px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -240px; color:#666; line-height:25px; text-align:center; text-decoration:none;} 
.ddunite_register .btn_gray2, .ddunite_register .btn_gray2:hover { display:block; width:70px; height:23px; padding-top:2px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -280px; color:#404040; line-height:23px; text-align:center; text-decoration:none;}
.ddunite_register .btn_blue { display:inline-block; background:url(../img/ddunite_bg_icon.gif) no-repeat right -360px;}
.ddunite_register .btn_blue a, .ddunite_register .btn_blue a:hover{ display:inline-block; height:23px; padding:2px 7px 0; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -320px; color:#fff; line-height:23px; text-decoration:none;}

.ddunite_register .cue{border:solid 1px #ffc101;background:#fffcd4;padding:16px 30px;line-height:24px;color:#666;margin: 20px 0 16px;}


.unite_reg1 { width:650px; margin:0 auto;padding-top:10px;}
.unite_reg1 ul { width:650px;}
.unite_reg1 li { width:650px;}
.unite_reg1 li.focus { padding:6px 0; background-color:#e9f5f1; border:1px solid #10b58a;}
.unite_reg1 li.wrong { padding:6px 0; background-color:#fef2f2; border:1px solid #c30;}
.unite_reg1 li label { width:90px; _background:none;}
.unite_reg1 li span { width:312px;}
.unite_reg1 li .wid2 { width:50px; margin-right:0;}
.unite_reg1 li .wid3 { width:111px; margin-right:0;}
.unite_reg1 li ins { display:inline; float:left; width:55px; margin-right:5px; text-decoration:none; text-align:center;}
.unite_reg1 li ins i { color:#9c9c9c; font-style:normal; line-height:20px;}
.unite_reg1 li .ins2 { width:116px; margin-right:18px;}
.unite_reg1 li .other { display:inline; float:left; width:16px; padding-top:1px; font-size:14px; line-height:27px;}
.unite_reg1 li .code { margin:0 20px 0 110px;}
.unite_reg1 .btn { margin-top:23px;}
.unite_reg1 .btn a { display:block; width:222px; height:33px; margin:0 auto; padding-top:2px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -80px; color:#404040; font:bold 14px/33px "宋体"; text-align:center;}
.unite_reg1 .agree textarea { width:638px; height:90px; margin-top:20px; padding:3px; background-color:#fff; border:1px solid #ccc;}
.unite_reg1 .user_name { margin-top:20px; color:#666; font-size:14px;}
.unite_reg1 .user_name strong { margin-left:20px; font-family:arial;}
.unite_reg1 li .tips_wrong { color:#c30;}
.unite_reg1 .select { float:left; width:122px; margin:4px 10px 0 0;}
.unite_reg1 li .btn_gray, .unite_reg1 li .btn_gray:hover { margin-left:110px;}
.unite_reg1 li span a { font-size:14px;}
.unite_reg1 .mark { width:auto; color:#c30;}
.unite_reg1 select{float:left; width:192px; height:20px; margin:4px 18px 0 0;}
.unite_reg1 .line2 s{text-decoration:none;color:#c00;}
.unite_reg1 .link{text-align:center;padding-top:20px;}

.rework{width:434px;}
.rework li{width:434px;}
.rework .t{margin-top:10px;font-family:Microsoft Yahei;font-size:18px;font-weight:normal;}
.rework .cue{margin-top:10px;}
.rework .btn a{background-position:left -320px;width:142px;margin-left:132px;}
.rework li span{width:80px!important;}

.unite_reg2 { width:467px; margin:34px auto 0; font-size:14px; line-height:22px;}
.unite_reg2 p { margin-top:26px; font-family:Arial;}
.unite_reg2 .btn_ora { margin:40px auto 0;}

.unite_reg3 { width:960px; margin:34px auto 0;}
.unite_reg3 h2 { width:229px; height:31px; margin:0 auto; padding:2px 0 0 40px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -160px; color:#404040;}
.unite_reg3 .btn_ora { margin:40px auto 0;}
.unite_reg3 p { font-size:14px; text-align:center;}
.unite_reg3 h2.noactive { background-position:0 -360px;}
.unite_reg3 p .btn_ora, .unite_reg3 p .btn_ora:hover { display:inline-block; margin-right:12px;}
.unite_reg3 p span { margin:0 6px; font-family:arial;}
.unite_reg3 p .chanmail { margin-left:5px;}
.unite_reg3 .btn_right { width:587px; margin:30px auto 0; text-align:right;}

.reg3_pop h2 { color:#9c9c9c;}
.reg3_pop p .btn_ora { background:url(../img/ddunite_register_icon.gif) 0 -320px; color:#666;}

.ddunite_pop2 { width:326px; padding:40px 0 47px; border:1px solid #007338; background:#fff; text-align:center;}
.ddunite_pop2 label { display:inline-block; float:none; width:77px; margin-right:10px; color:#666;}
.ddunite_pop2 .text { display:inline-block; float:none; width:180px;}
.ddunite_pop2 .btn { margin-top:28px;}
.ddunite_pop2 .btn_ora2, .ddunite_pop2 .btn_ora2:hover { display:inline-block;}
.ddunite_pop2 .btn_gray2, .ddunite_pop2 .btn_gray2:hover { display:inline-block; margin-left:32px;}

.unite_reg4 { width:374px; margin:36px auto 0;}
.unite_reg4 h2 { color:#404040; text-align:center;}
.unite_reg4 ul { width:374px;}
.unite_reg4 li { width:374px; padding:0;}
.unite_reg4 label { width:42px;}
.unite_reg4 li span { width:84px; padding-top:1px; color:#c30; line-height:27px;}
.unite_reg4 .btn_ora { float:left;}
.unite_reg4 .forget { display:inline; float:left; margin:10px 0 0 58px; font-size:14px;}
.unite_reg4 .tips { width:352px; margin-top:35px; color:#666; font-size:14px;}
.unite_reg4 .tips a { position:relative; left:55px; width:112px;}
.unite_reg4 .space { margin:20px 0 0 62px;}
.unite_reg4 .code_wrap { padding:23px 0 0 62px;}

.unite_reg5 li label { width:70px;}
.unite_reg5 li .btn_gray, .unite_reg5 li .btn_gray:hover { display:inline-block; margin-left:90px;}
.unite_reg5 li .tips_wrong { color:#c30;}
.unite_reg5 .cancel { display:inline-block; height:24px; margin-left:32px; padding-top:2px; font-size:14px; line-height:24px; vertical-align:top;}

.unite_reg6 { width:960px; text-align:center;}
.unite_reg6 p { margin-top:40px; font-size:14px; font-weight:bold;}
.unite_reg6 strong { color:#c30;}
.unite_reg6 .operation { margin-top:35px;}
.unite_reg6 .operation .btn_ora3 { display:inline-block; width:135px; height:25px; margin:0 20px; padding-top:1px; background:url(../img/ddunite_register_icon.gif) no-repeat 0 -400px; color:#fff; line-height:25px;}
.unite_reg6 .operation .btn_ora3:hover { text-decoration:none;}

/*pop*/
.ddunite_pop { width:326px; padding-bottom:35px; border:1px solid #007338; background-color:#fff;}
.ddunite_pop p { width:252px; margin:33px auto 0; line-height:26px;}
.ddunite_pop .btn { margin-top:15px;}
.ddunite_pop .btn_ora2, .ddunite_pop .btn_ora2:hover { display:inline-block; margin:0 0 0 78px;}
.ddunite_pop .btn_gray2, .ddunite_pop .btn_gray2:hover { display:inline-block; margin:0 0 0 40px;}
.red{color:#c30;}
.button{display:inline-block;border:0;cursor:pointer;vertical-align:middle;overflow:hidden;}
.b1{background:url(../img/btn_bg.png);border:solid 1px #cccbca;width:55px;height:20px;text-align:center;line-height:21px;color:#404040;font-size:12px;padding:0;margin-right:12px;}
.button:hover{text-decoration:none;}
button.b1{height:22px;width:57px;line-height:20px;}
.b2{display:block;width:78px; height:22px; margin:0 auto; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:23px; text-align:center; text-decoration:none;}
.arial{font-family:Arial;}
.b3,.b4,.resultlist .selected{background:url(../img/school_bg.png) 0 0 no-repeat;}
.b3{width:60px;height:26px;background-position:left -35px;text-align:center; color:#404040;line-height:26px;}
.b4{width:112px;height:35px;margin: 0 10px;text-align:center; color:#fff;line-height:35px;font-size:14px;font-weight:bold;}

.red{color:#c30;}
.button{display:inline-block;border:0;cursor:pointer;vertical-align:middle;overflow:hidden;}
.b1{background:url(../img/btn_bg.png);border:solid 1px #cccbca;width:55px;height:20px;text-align:center;line-height:21px;color:#404040;font-size:12px;padding:0;margin-right:12px;}
.button:hover{text-decoration:none;}
button.b1{height:22px;width:57px;line-height:20px;}
.b2{display:block;width:78px; height:22px; margin:0 auto; background:url(../img/ddunite_bg_icon.gif) no-repeat 0 -440px; color:#404040; line-height:23px; text-align:center; text-decoration:none;overflow:hidden;}
.arial{font-family:Arial;}
.b3,.b4,.resultlist .selected{background:url(../img/school_bg.png) 0 0 no-repeat;}
.b3{width:60px;height:26px;background-position:left -35px;text-align:center; color:#404040;line-height:26px;}
.b4{width:112px;height:35px;margin: 0 10px;text-align:center; color:#fff;line-height:35px;font-size:14px;font-weight:bold;}

.abox{margin:15px 20px 0;}
.abox h2 { padding:10px 0 9px 15px; background-color:#e9e9e9; font:bold 14px/16px "宋体";}
.abox .list:after{content:".";height:0;display:block; clear:both;visibility:hidden;}
.abox .list{zoom:1;}
.abox .list li{float:left;padding:15px 39px 10px;width:152px;overflow:hidden;}
.abox .list li img{display:block;border:solid 1px #b6b6b4;}
.abox .list li .to{display:block;overflow:hidden;text-overflow:ellipsis;width:150px; white-space:nowrap;padding:9px 0 10px;}
.abox .fanye{margin-top:8px;}

.info .body,.about .body{padding:16px 40px 10px;line-height:30px;}
.info .body .t{display:inline-block;padding-right:6px;}

.box1 p{padding:0 0 0 40px;line-height:22px;}
.box1 p input{vertical-align:middle;margin-top:-1px;}
.box1 .body{padding:10px 0;}

.resultlist .box{display:block;line-height:20px;padding:5px 0;width:152px;height:40px;overflow:hidden;}
.resultlist .red{font-weight:bold;}
.resultlist s{font-family:Arial;color:#9c9c9c;}
.resultlist p{line-height:18px;text-align:center;}
.resultlist .list li div{padding-top:8px;}
.resultlist ul{padding-top:10px;}
.resultlist .selected{display:block;height:22px;line-height:23px;margin: 0 auto;text-align:center;width:86px;overflow:hidden;background-position:8px -74px;padding-left:10px;color:#878787;}



.box2{padding-top:20px;}
.box2 .list li img{border:0;}
.box2 .list .pic{border:solid 1px #b6b6b4;width:100px;height:100px;margin-bottom:10px;}
.box2 .list li{text-align:center;height:144px;padding:0 20px;width:102px;}
.box2 .list li .b1{margin:0;}
.box2 .cue{padding:14px 40px 22px;}
.box2 .list{padding:0 105px;}
.box2 .btnbox{text-align:center;padding-top:20px;}

.crumbs{padding:16px 20px 0;}
.school_process{padding:0 20px 20px;clear:both;}
.school_process span{float:left;}

.download .body{padding:0 40px;}
.download table{background:#000;width:700px;margin-top:16px;}
.download table td{background:#fff;text-align:center;padding:8px 0;line-height:18px;}
.download table a{display:inline-block;margin:0 25px; white-space:nowrap;color:#404040;}
.download .body p{padding-top:16px;}

.regbox{padding:0 0 120px 20px;}
.regbox .opt1,.regbox .opt2,.regbox .opt3{display:inline-block;background:url(../img/reg_bg.png) left top no-repeat;width:216px;height:218px;padding:0 40px;line-height:18px;color:#666;margin-right:16px;}
.regbox a:hover{text-decoration:none;}
.regbox .title{text-align:center;font-size:14px;font-weight:bold;color:#fff;padding:36px 0 50px;}
.regbox .opt2{background-position:left -218px;}
.regbox .opt3{background-position:left -436px;}
.regbox .t{font-size:14px;font-weight:bold;padding:38px 0 48px;}

.block:after{content:".";height:0;display:block;clear:both;visibility:hidden;}
.ddunite_getcode .block{padding: 30px 0 0 40px;display:block;clear:both;zoom:1;}
.ddunite_getcode .block .input{padding:0 4px;line-height:22px;height:22px;width:178px;}
.ddunite_getcode .block .t{display:inline-block;width:116px;float:left;height:24px;line-height:24px;}
.ddunite_getcode .block li{padding:5px 0 5px 30px;}
.ddunite_getcode .block ul{padding-top:8px;}
.ddunite_getcode .block .btn{display:inline-block;padding-top:4px;width:188px;}
.ddunite_getcode .block .b1{width:63px;height:20px;display:inline-block;line-height:22px;overflow:hidden;float:left;}
.ddunite_getcode .block .b1:hover{text-decoration:none;}
.ddunite_getcode .block .btn2{width:76px;}
.ddunite_getcode .block p{line-height:24px;}
.ddunite_getcode .block .gray{color:#696969;}
.ddunite_getcode .block textarea{overflow:auto;width:180px;padding:4px;height:70px;}
.ddunite_getcode .b_left{float:left;margin-right:44px; clear:none;}
.ddunite_getcode .b_left .btn2,.ddunite_getcode .b_right .btn2{float:right;margin:0;}
.ddunite_getcode .b_right{float:left;clear:none;}
.ddunite_getcode .cuebox{border:solid 1px #000;margin:20px 70px 0;width:656px;padding:20px 32px;}
.ddunite_getcode .cuebox p{line-height:32px;}
.ddunite_getcode .cuebox .indent p{padding-left:12px;line-height:22px;}
.ddunite_getcode .cuebox .indent .line{padding-top:6px;}

.toolsbox .banner img{display:block;padding-bottom:20px;}
.toolsbox .link{text-align:right; word-spacing:10px;padding:8px 6px 0 0;line-height:16px;}
.toolsbox .list:after{content:".";height:0;display:block;clear:both;visibility:hidden;}
.toolsbox .list{zoom:1;padding-bottom:20px;}
.toolsbox .list li{float:left;width:273px;height:118px;background:url(../img/box_bg.png);padding:16px 16px 0;font-size:14px;font-weight:bold;margin-right:22px;_display:inline;}
.toolsbox .list .last{margin-right:0;float:right;}
.toolsbox .list h3{display:block;background:url(../img/icon_bg.png) left top no-repeat;height:28px;text-indent:44px;line-height:28px;font-size:14px;font-weight:bold;}
.toolsbox .list p{color:#666;line-height:24px;padding-top:14px;}
.toolsbox .box,.toolsbox .box .left,.toolsbox .box .right{background:url(../img/box_bg1.png) left bottom repeat-x;height:168px;}
.toolsbox .box .left,.toolsbox .box .right{background-position:-6px 0; background-repeat:no-repeat;float:left;}
.toolsbox .box .left{padding:25px 0 0 20px;width:900px;}
.toolsbox .box .right{width:6px;float:right;background-position:0 0;}
.toolsbox .box p{padding-bottom:18px;}
.toolsbox .box .t{color:#f60;font-weight:bold;}
.toolsbox .box input{ vertical-align:middle;}
.toolsbox .box .download{display: block;width:233px;height:37px;background:url(../img/download_btn.png);}

/* =- union_notice */
.union_notice{padding:6px 39px 8px 28px;padding:7px 39px 8px 28px\9; line-height:20px;background:#fffdb3 url(../img/icon_notice.png) no-repeat 8px 9px;margin:10px auto -5px;border:1px solid #ffc100;width:853px}
/* =- union_type */
.union_type {color:#666;padding:57px 0 160px 110px;}
.union_type .title {font-size:14px;font-weight:bold;padding-left:95px;}
.union_type form {margin-top:29px;}
.union_type form div {height:25px;line-height:25px;margin-bottom:24px;}
.union_type form div label {height:25px;line-height:25px;}
.union_type form div .text {width:187px;color:#666;}
.union_type form div label span {display:inline-block;font-size:14px;margin-right:14px;text-align:right;width:140px;*position:relative;*top:-3px;}
.union_type form div .tip {color:#9c9c9c;font-size:12px;margin-left:10px;}
.union_type form div .text2 {color:#666;height:22px;border:1px solid #ccc;vertical-align:top;width:192px;padding:1px 0;}
.union_type form div .text2 option {height:18px;padding:3px 0 1px;}
.union_type form .wrong i{ color:#cc3300;margin-left:10px;}
.union_type form .wrong i{background:url(../img/icon_wrong.png) no-repeat;height:16px;display:inline-block;vertical-align:middle;margin-right:5px;width:15px;position:relative;top:-3px;}
.union_type form .right i{ color:#cc3300;margin-left:10px;}
.union_type form .right i{background:url(../img/icon_right.png) no-repeat;height:16px;display:inline-block;vertical-align:middle;margin-right:5px;width:15px;position:relative;top:-3px;}
.union_type form .s_tip {position:relative;top:-2px;}
.union_type form .btn {background:url(../img/btn_confirm.png) no-repeat;height:29px;width:70px;border:none;cursor:pointer;margin:3px 0 0 154px;}
